.userInfo__container {
  padding: 20px;

  .container__user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .details__container {
      display: flex;
      align-items: center;
      gap: 20px;

      .container__avatarImg {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .btn__logout {
      background-color: var(--button-color-primary);
    }
  }
}
