.chat__containerHeader {
  padding: 20px;
  border-bottom: 1px solid var(--border-color);

  .user {
    display: flex;
    align-items: center;
    gap: 20px;

    .avatar__img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }

    .user__description {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .user__name {
        font-size: var(--font-size-lg);
        font-weight: bold;
      }

      .user__detail {
        font-size: var(--font-size-sm);
        font-weight: 300;
        color: var(--text-color-secondary);
      }
    }
  }
}
