@import "./assets/styles/shared.css";

:root {
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --background-color: #111928bf;
  --text-color-primary: #ffffff;
  --text-color-secondary: #a5a5a5;
  --border-color: #ffffff2b;
  --button-color-primary: #1a7d4e;
  --message-color-primary: #199b4e;
  --message-color-secondary: #1119284d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--text-color-primary);
  background: rgb(34, 193, 195);
  background: linear-gradient(
    295deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.container {
  width: 90vw;
  height: 90vh;
  background-color: var(--background-color);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 0.8em;
  border: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
}
